<label class="logsign__container--title" for="">FORGOT PASSWORD</label>
        
                <form *ngIf="resetStep == 1" [formGroup]="mobileFormGroup">
                       <div class="form-group mt-3">
                    <input type="mobile" class="form-control" id="exampleInputEmail1" formControlName="mobile" placeholder="Mobile Number" aria-describedby="emailHelp">
                    <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)"
                                      class="alert alert-danger">

                        <div *ngIf="mobile.errors.required" class="err-font">
                        Mob.no is required.
                           </div>
                       <div *ngIf="mobile.errors.pattern" class="err-font">
                           Mob.no must be atleast 10 digits 
                             </div>
                      </div> 
                       </div>
                       <button class="btn bg-main w-100 mt-2" (click)="sendOtpToResetPassword()" style="background-color: #008081;color: white;">Send OTP<i *ngIf="isLoading" class="fa fa-spin fa-spinner"></i></button>
                       <p class="error-msg" *ngIf="errorMessage" for="">{{errorMessage}}</p>
                </form>
                <form *ngIf="resetStep == 2" [formGroup]="otpFormGroup">
                    <div class="form-group mt-3">
                        <input type="email" class="form-control mb-1" formControlName="otp" placeholder="Enter OTP"  id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div *ngIf="otp.invalid && (otp.dirty || otp.touched)"
                            class="alert alert-danger">
                            <div class="err-font">
                              OTP code is inavlid
                            </div>
                         </div>
                        <a class="spaan">Resend</a>
                    </div>
                    <button class="btn bg-main w-100 mt-2" (click)="verifyOtpToResetPassword()"style="background-color: #008081;color: white;">Submit OTP<i *ngIf="isLoading" class="fa fa-spin fa-spinner"></i></button>
                    <p class="error-msg" *ngIf="errorMessage" for="">{{errorMessage}}</p>
                </form>
        
                <form *ngIf="resetStep == 3" [formGroup]="passwordFormGroup">
                    <div class="form-group mt-4">
                        <input type="password" class="form-control" formControlName="password" placeholder="Password" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                        <div *ngIf="password.invalid && (password.dirty || password.touched)"
                             class="alert alert-danger">
                            <div  class="err-font">
                                Password must contain atleast 6 characters,
                                including upper/lowercase and numbers.
                            </div>
                        </div>
                    </div>
                    <button class="btn bg-main w-100 mt-2" (click)="resetPassword()"style="background-color: #008081;color: white;">Reset Password<i *ngIf="isLoading" class="fa fa-spin fa-spinner"></i></button>
                    <p class="error-msg" *ngIf="errorMessage" for="">{{errorMessage}}</p>
                </form>
                <div class="signup mt-3">
                    <label for="" class="account_detail">Already have an account? <a [routerLink]="['/authentication/login']" routerLinkActive="router-link-active" class="text-right" ><b>Login Now</b></a></label>
                </div>