<div class="container-fluid p-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12  mb-3">
                <div class="plan-card">
                    <div class="title-block">
                      <div>
                        <label for=""class="plan-card__title">Users</label>
                       </div>
                     </div>
                    <div class="plan-card__detail">
                        <div class="sub-detail">
                            <div class="sub-para">
                               <p>Total</p>
                            </div>
                            <div  class="sub-para">
                                <p>45</p>
                             </div>
                        </div>
                      
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12  mb-3">
                <div class="plan-card">
                    <div class="title-block">
                      <div>
                        <label for=""class="plan-card__title">Charging Stations</label>
                       </div>
                     </div>
                    <div class="plan-card__detail">
                        <div class="sub-detail">
                            <div class="sub-para">
                               <p>Total</p>
                            </div>
                            <div  class="sub-para">
                                <p>45</p>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12  mb-3">
                <div class="plan-card">
                    <div class="title-block">
                        <div>
                          <label for=""class="plan-card__title">Charging Machines</label>
                         </div>
                       </div>
                    <div class="plan-card__detail">
                        <div class="sub-detail">
                            <div class="sub-para">
                               <p>Total</p>
                            </div>
                            <div  class="sub-para">
                                <p>45</p>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12  mb-3">
                <div class="plan-card">
                    <div class="title-block">
                        <div>
                          <label for=""class="plan-card__title">Bookings</label>
                         </div>
                       </div>
                    <div class="plan-card__detail">
                        <div class="sub-detail">
                            <div class="sub-para">
                               <p>Total</p>
                            </div>
                            <div  class="sub-para">
                                <p>45</p>
                             </div>
                        </div>
                    </div>
        
                </div>
            </div>
            
        <!-- </div> 
        <div class="row ">
            <div class="graph-view">
                <div class="graph-block">
                    <label for="" class="plan-card__title">Business LIstings</label>
                    
                    <div class="plan-card__detail">
                        <div class="sub-detail">
                            <div class="sub-para">
                               <p>Total</p>
                            </div>
                            <div  class="sub-para">
                                <p>45</p>
                             </div>
                        </div>
                        <div>
                            <div style="display: block;">
                                <canvas baseChart
                                [datasets]="barChartData"
                                [labels]="barChartLabels"
                                [options]="barChartOptions"
                                [legend]="barChartLegend"
                                [chartType]="barChartType"></canvas>
                            </div>
                        </div>
                    </div>
            
            
                </div>
            </div>
        </div>  -->
    </div>
</div>



