<div class="main-card mb-3 card">
    <div class="card-body "><h5 class="card-title">Edit Charging Station Details</h5>
      <form [formGroup]="editChargingStations">
        <div class="position-relative form-group"><label for="exampleEmail">Name</label><input name="email"
                                                                                                id="exampleEmail"
                                                                                                formControlName="name"
                                                                                                type="text"
                                                                                                class="form-control">
        </div>
        <div class="position-relative form-group"><label for="exampleEmail">City</label><input name="email"
          id="exampleEmail"
          formControlName="city"
          type="text"
          class="form-control">
        </div>
        <div class="position-relative form-group"><label for="exampleEmail">Mechine Name</label><input name="email"
          id="exampleEmail"
          formControlName="street"
          type="text"
          class="form-control">
        </div>
        <button class="mt-1 btn btn-primary">Submit</button>
      </form>
    </div>
  </div>