<div class="container-fluid p-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 mb-md-0 mb-3">
                <div class="plan-card">
                    <label for="" class="plan-card__title">Silver</label>
                    <label for="" class="plan-card__subtitle pb-4 border-bottom">₹  2000 per month for activation</label>
                    <div class="plan-card__detail">
                        <label for="" class="plan-card__detail--item">
                            <i class="fas fa-check mr-2"></i>
                            <span>Custom Templates ( single page )</span>
                        </label>
                        <label for="" class="plan-card__detail--item">
                            <i class="fas fa-check mr-2"></i>
                            <span>Recommendation</span>
                        </label>
                    </div>
                    <button class="btn-secondary btn badge-pill">
                        GO PREMIUM
                    </button>
                    <a class="plan-card__link" href="#">Terms and Conditions apply.</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-md-0 mb-3">
                <div class="plan-card">
                    <label for="" class="plan-card__title">Gold</label>
                    <label for="" class="plan-card__subtitle pb-4 border-bottom">Lorem ipsum dolor sit amet, </label>
                    <div class="plan-card__detail">
                        <label for="" class="plan-card__detail--item">
                            <i class="fas fa-check mr-2"></i>
                            <span>Logo</span>
                        </label>
                        <label for="" class="plan-card__detail--item">
                            <i class="fas fa-check mr-2"></i>
                            <span>Custom Templates ( premium )</span>
                        </label>
                        <label for="" class="plan-card__detail--item">
                            <i class="fas fa-check mr-2"></i>
                            <span>Recommendation</span>
                        </label>
                    </div>
                    <button class="btn-secondary btn badge-pill">
                        GO PREMIUM
                    </button>
                    <a class="plan-card__link" href="#">Terms and Conditions apply.</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-md-0 mb-3">
                <div class="plan-card">
                    <label for="" class="plan-card__title">Diamond</label>
                    <label for="" class="plan-card__subtitle pb-4 border-bottom">Lorem ipsum dolor sit amet, </label>
                    <div class="plan-card__detail">
                        <label for="" class="plan-card__detail--item">
                            <i class="fas fa-check mr-2"></i>
                            <span>Video</span>
                        </label>
                        <label for="" class="plan-card__detail--item">
                            <i class="fas fa-check mr-2"></i>
                            <span>Slogan words</span>
                        </label>
                        <label for="" class="plan-card__detail--item">
                            <i class="fas fa-check mr-2"></i>
                            <span>Custom title</span>
                        </label>
                        <label for="" class="plan-card__detail--item">
                            <i class="fas fa-check mr-2"></i>
                            <span>Logo</span>
                        </label>
                        <label for="" class="plan-card__detail--item">
                            <i class="fas fa-check mr-2"></i>
                            <span>Custom Templates ( premium )</span>
                        </label>
                        <label for="" class="plan-card__detail--item">
                            <i class="fas fa-check mr-2"></i>
                            <span>Recommendation</span>
                        </label>
                    </div>
                    <button class="btn-secondary btn badge-pill">
                        GO PREMIUM
                    </button>
                    <a class="plan-card__link" href="#">Terms and Conditions apply.</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-md-0 mb-3">
                <div class="plan-card">
                    <label for="" class="plan-card__title">Platinum</label>
                    <label for="" class="plan-card__subtitle pb-4 border-bottom">Lorem ipsum dolor sit amet, </label>
                    <div class="plan-card__detail">
                        <label for="" class="plan-card__detail--item">
                            <i class="fas fa-check mr-2"></i>
                            <span>Products sales</span>
                        </label>
                        <label for="" class="plan-card__detail--item">
                            <i class="fas fa-check mr-2"></i>
                            <span>Free ad-2</span>
                        </label>
                        <label for="" class="plan-card__detail--item">
                            <i class="fas fa-check mr-2"></i>
                            <span>Video</span>
                        </label>
                        <label for="" class="plan-card__detail--item">
                            <i class="fas fa-check mr-2"></i>
                            <span>Slogan words</span>
                        </label>
                        <label for="" class="plan-card__detail--item">
                            <i class="fas fa-check mr-2"></i>
                            <span>Custom title</span>
                        </label>
                        <label for="" class="plan-card__detail--item">
                            <i class="fas fa-check mr-2"></i>
                            <span>Logo</span>
                        </label>
                        <label for="" class="plan-card__detail--item">
                            <i class="fas fa-check mr-2"></i>
                            <span>Custom Templates ( premium )</span>
                        </label>
                        <label for="" class="plan-card__detail--item">
                            <i class="fas fa-check mr-2"></i>
                            <span>Recommendation</span>
                        </label>
                    </div>
                    <button class="btn-secondary btn badge-pill">
                        GO PREMIUM
                    </button>
                    <a class="plan-card__link" href="#">Terms and Conditions apply.</a>
                </div>
            </div>
        </div>
    </div>
</div>

