<div class="container">
    <div class="profile-view">
        <div class="profile-title">
            <div class="heading-tag">
                <p>Users Profile</p>
            </div>
        </div>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-basic-tab" data-toggle="tab" href="#nav-basic" role="tab" aria-controls="nav-basic" aria-selected="true">Basic Info</a>
              <a class="nav-item nav-link" id="nav-vehicle-tab" data-toggle="tab" href="#nav-vehicle" role="tab" aria-controls="nav-vehicle" aria-selected="true">Vehicles</a>
              <a class="nav-item nav-link" id="nav-stations-tab" data-toggle="tab" href="#nav-stations" role="tab" aria-controls="nav-stations" aria-selected="true">Charging History</a>
              <a class="nav-item nav-link" id="nav-wallet-tab" data-toggle="tab" href="#nav-wallet" role="tab" aria-controls="nav-wallet" aria-selected="true">Wallet</a>
              <a class="nav-item nav-link" id="nav-favourite-tab" data-toggle="tab" href="#nav-favourite" role="tab" aria-controls="nav-favourite" aria-selected="true">Favourite</a>
            </div> 
        </nav>
        <div class="tab-content mt-4" id="nav-tabContent" >
        <div class="tab-pane fade show active" id="nav-basic" role="tabpanel" aria-labelledby="nav-basic-tab">
        <div class="pro-detail">
            <div class="pro-img">
                <img  src="../../../assets/img/2.jpg" alt="">
            </div>
            <div class="about-pro">
                <h2>John Kora</h2>
                <p>9633411639</p>
                <a>john369@gmail.com</a>
            </div>
        </div>
        </div>
        <div class="tab-pane fade" id="nav-vehicle" role="tabpanel" aria-labelledby="nav-vehicle-tab"><p>Vehicles works</p></div> 
        <div class="tab-pane fade" id="nav-stations" role="tabpanel" aria-labelledby="nav-stations-tab"><p>Cahrging  works</p></div> 
        <div class="tab-pane fade" id="nav-wallet" role="tabpanel" aria-labelledby="nav-wallet-tab"><p>Wallet  works</p></div> 
        <div class="tab-pane fade" id="nav-favourite" role="tabpanel" aria-labelledby="nav-favourite-tab"><p>Favourite  works</p></div> 
        </div>
        
    </div>
  </div>
  
  
  
  