<div class="container">
    <div class="profile-view">
        <div class="profile-title">
            <div class="heading-tag">
                <p>Users Profile</p>
            </div>
        </div>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-basic-tab" data-toggle="tab" href="#nav-basic" role="tab" aria-controls="nav-basic" aria-selected="true">Basic Info</a>
              <a class="nav-item nav-link" id="nav-vehicle-tab" data-toggle="tab" href="#nav-vehicle" role="tab" aria-controls="nav-vehicle" aria-selected="true">Vehicles</a>
              <a class="nav-item nav-link" id="nav-stations-tab" data-toggle="tab" href="#nav-stations" role="tab" aria-controls="nav-stations" aria-selected="true">Charging History</a>
              <a class="nav-item nav-link" id="nav-wallet-tab" data-toggle="tab" href="#nav-wallet" role="tab" aria-controls="nav-wallet" aria-selected="true">Wallet</a>
              <a class="nav-item nav-link" id="nav-favourite-tab" data-toggle="tab" href="#nav-favourite" role="tab" aria-controls="nav-favourite" aria-selected="true">Favourite</a>
            </div> 
        </nav>
        <div class="tab-content mt-4" id="nav-tabContent" >
        <div class="tab-pane fade show active" id="nav-basic" role="tabpanel" aria-labelledby="nav-basic-tab">
        <div class="pro-detail">
            <div class="pro-img">
                <img  src="../../../assets/img/pro_icon.png" alt="">
            </div>
            <div class="about-pro">
                <h2>{{name}}</h2>
                <p>{{mobile}}</p>
                <a>{{email}}</a>
            </div>
        </div>
        </div>
        <div class="tab-pane fade" id="nav-vehicle" role="tabpanel" aria-labelledby="nav-vehicle-tab">
            <div class="main-card mb-3 card">
                <div class="card-body"><h5 class="card-title">Vehicle Details</h5>
                  <table class="mb-0 table table-hover">
                    <thead>
                    <tr >
                      <th>#</th>
                      <th> Vehicle Name</th>
                      <th>Charging Power</th>
                      <th>Plug Type</th>
                      <th>Battery Capacity</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>TATA Nexon</td>
                      <td>
                          450 kw
                      </td>
                      <td>C Type</td>

                      <td>
                         320 kw
                      </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Tesla</td>
                        <td>
                            350 kw
                        </td>
                        <td>C Type</td>
  
                        <td>
                           220 kw
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
        </div> 
        <div class="tab-pane fade" id="nav-stations" role="tabpanel" aria-labelledby="nav-stations-tab">
            <div class="main-card mb-3 card">
                <div class="card-body"><h5 class="card-title">Charging Details</h5>
                  <table class="mb-0 table table-hover">
                    <thead>
                    <tr >
                      <th>#</th>
                      <th> Machine Name</th>
                      <th>Charging Power</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>EV Ather</td>
                      <td>
                          450 kw
                      </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>EV Ather</td>
                        <td>
                            350 kw
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
        </div> 
        <div class="tab-pane fade" id="nav-wallet" role="tabpanel" aria-labelledby="nav-wallet-tab">
            <div class="main-card mb-3 card">
                <div class="card-body"><h5 class="card-title">Wallet Details</h5>
                  <table class="mb-0 table table-hover">
                    <thead>
                    <tr >
                      <th>#</th>
                      <th> Total Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>500</td>
                      
                    </tr>
                   
                    </tbody>
                  </table>
                </div>
              </div>
        </div> 
        <div class="tab-pane fade" id="nav-favourite" role="tabpanel" aria-labelledby="nav-favourite-tab">
            <div class="main-card mb-3 card">
                <div class="card-body"><h5 class="card-title">Favourite Details</h5>
                  <table class="mb-0 table table-hover">
                    <thead>
                    <tr >
                      <th>#</th>
                      <th> Station Name</th>
                      <th> Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Reliance </td>
                      <td>11/05/2021 </td>
                      
                    </tr>
                   
                    </tbody>
                  </table>
                </div>
              </div>
        </div> 
        </div>
        
    </div>
  </div>
  
  
  
  