.card-title {
    margin-bottom: 1.5rem;
}
.main-card{
    margin-left: 21rem;
    margin-top: 2rem;
    margin-right: 2rem;
}
.card-title{
    font-weight: bold;
  font-size: x-large;
  color: #1b9a59;
  font-family: monospace;
}
@media (max-width: 992px) {
    .main-card{
        margin-left: 0;
        margin-top: 2rem;
        margin-right: 2rem;
    }
  }