<form (ngSubmit)="submit()" [formGroup]="resetForm">
    <div class="container">
        <div class="profile-view">
            <div class="profile-title">
                <div class="heading-tag">
                    <p>Reset Password</p>
                </div>
            </div>
            <div class="edit-view">
                <div class="edit-mainblock">
                    <div class="edit-block">
                        <div class="name-label">
                            <p>New Password</p>
                        </div>
                        <div class="text-block">
                            <input type="password" placeholder="Enter your new password"  class="text-area" id="exampleInputPassword1" formControlName="password" required>
                            <div *ngIf="password.invalid && (password.dirty || password.touched)"
                            class="alert alert-danger">
                
                            <div class="err-font">
                                Password must contain atleast 6 characters,
                                including upper/lowercase and numbers.
                            </div>
                         </div> 
                        </div>
                    </div>
                    <div class="edit-block">
                        <div class="name-label">
                            <p>Confirm Password</p>
                        </div>
                        <div class="text-block">
                            <input type="password" placeholder="Confirm your new password" formControlName="confirmPassword" class="text-area" id="exampleInputPassword1">
                            <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched) || !isConfirmPasswordSame"
                                class="alert alert-danger">

                                <div class="err-font">
                                     Confirm Pasword must be same as password.
                                 </div>
                             </div> 
                        </div>
                    </div>
                </div> 
                <div class="edit-main-block">
                    <div class="button-block">
                        <button class="btn btn-primary mt-3 save-button" (click)="submit()">Submit<i *ngIf="isLoading" class="fa fa-spin fa-spinner"></i></button>
                        <p class="error-msg" *ngIf="errorMessage" for="">{{errorMessage}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>





