
    <div class="container-fluid p-0 authentication-container">
        <div class="d-flex flex-wrap logsign">
            <div class="col-5 logsign__side-bg d-md-block d-none">
                <img src="../../../assets/img/log-img.png">

            </div>
            <div class="col-md-7 logsign__logsign">
                <div class="logsign__container">
                    <img class="logsign__container--img" src="../../assets/img/logo.png" alt="">

                    <router-outlet></router-outlet>

                </div>
                <div class="logsign__logsign--privacy">
                    Term of use. Privacy policy
                </div>
            </div>
        </div>
    </div>

