<div class="main-card mb-3 card">
    <div class="card-body "><h5 class="card-title">Charging Station Details</h5>
      <form>
        <div class="position-relative form-group"><label for="exampleEmail">Name</label><input name="email"
                                                                                                id="exampleEmail"
                                                                                                formControlName="name"
                                                                                                type="text"
                                                                                                class="form-control">
        </div>
        <div class="position-relative form-group"><label for="exampleEmail">City</label><input name="email"
          id="exampleEmail"
          formControlName="city"
          type="text"
          class="form-control">
        </div>
        <div class="position-relative form-group"><label for="exampleEmail">Street</label><input name="email"
          id="exampleEmail"
          formControlName="street"
          type="text"
          class="form-control">
        </div>
        <div class="position-relative form-group"><label for="exampleEmail">Sate</label><input name="email"
          id="exampleEmail"
          
          type="text"
          class="form-control">
        </div>
        <div class="position-relative form-group"><label for="exampleEmail">Country</label><input name="email"
          id="exampleEmail"
          formControlName="country"
          type="text"
          class="form-control">
        </div>
        <div class="position-relative form-group"><label for="exampleEmail">Zipcode</label><input name="email"
          id="exampleEmail"
          formControlName="zipcode"
          type="text"
          class="form-control">
        </div>
        <button class="mt-1 btn btn-primary">Submit</button>
      </form>
    </div>
  </div>