<div *ngIf="!isLoading"  class="main-card mb-3 card">
    <div class="card-body "><h5 class="card-title">Charging Station Details</h5>
      <form [formGroup]="newChargingStationForm">
        <div class="position-relative form-group"><label for="exampleEmail">Name</label><input name="name"
                                                                                                id="exampleEmail"
                                                                                                formControlName="name"
                                                                                                type="text"
                                                                                                class="form-control">
        </div>
        <div class="position-relative form-group"><label for="exampleEmail">City</label><input name="city"
          id="exampleEmail"
          formControlName="city"
          type="text"
          class="form-control">
        </div>
        <div class="position-relative form-group"><label for="exampleEmail">Street</label><input name="street"
          id="exampleEmail"
          formControlName="street"
          type="text"
          class="form-control">
        </div>
        <div class="position-relative form-group"><label for="exampleEmail">State</label><input name="state"
          id="exampleEmail"
          formControlName="state"
          type="text"
          class="form-control">
        </div>
        <div class="position-relative form-group"><label for="exampleEmail">Country</label><input name="country"
          id="exampleEmail"
          formControlName="country"
          type="text"
          class="form-control">
        </div>
        <div class="position-relative form-group"><label for="exampleEmail">Address</label><input name="address"
          id="exampleEmail"
          formControlName="address"
          type="text"
          class="form-control">
        </div>
        <div class="position-relative form-group"><label for="exampleEmail">Longitude</label><input name="longitude"
          id="exampleEmail"
          formControlName="longitude"
          type="text"
          class="form-control">
        </div>
        <div class="position-relative form-group"><label for="exampleEmail">Latitude</label><input name="latitude"
          id="exampleEmail"
          formControlName="latitude"
          type="text"
          class="form-control">
        </div>
        <div class="position-relative form-group"><label for="exampleEmail">Zipcode</label><input name="zipcode"
          id="exampleEmail"
          formControlName="zipcode"
          type="text"
          class="form-control">
        </div>
        <div class="button-block">
          <p class="error-msg" *ngIf="errorMessage" for="">{{errorMessage}}</p>

          <button class="btn btn-primary mt-3 save-button" (click)="submit()">Save<i *ngIf="isLoading"
                  class="fa fa-spin fa-spinner"></i></button>
      </div>
      </form>
    </div>
  </div>
  <div *ngIf="isLoading" class="loadingScreen d-flex justify-content-center align-items-center">
    <i  class="fa fa-spin fa-spinner"></i>
  </div>