<div *ngIf="!isLoading" class="main-container ">
    <div class="container">
      <div class="profile-title">
        <div class="heading-tag">
            <p>All Brands </p>
        </div>
      </div>
    
      <div class="search-field">
        <button class="btn btn-white shadow-none"><i class="fa fa-search" aria-hidden="true"></i></button>
        <div class="form-field col">
            <input type="text"  class="form-control input-box" id="exampleInputPassword1" placeholder="Search">
        </div>
    </div>
    <div class="main-card mb-3 card">
      <div class="card-body"><h5 class="card-title">All Vehicle Brands</h5>
        <table class="mb-0 table table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th>Brand Name</th>
            <th>Vehicle Type</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let makesDetails of makeDetailsToShow;let i=index;">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{makesDetails.name}}</td>
            <td>
              {{makesDetails.vehicle_type}}
            </td>
            <td>
              <div class="img">
                  <div class="icon">
                    <a [routerLink]="['/dashboard/vehicles/brand-edit/'+makesDetails.id]" routerLinkActive="router-link-active"><i class="fa fa-edit" aria-hidden="true"></i></a>

                  </div>
                  <div class="icon">
                      <a><i class="fa fa-ban "></i></a>
                  </div>
                  <div class="icon">
                      <a (click)="deleteMake(makesDetails.id)"><i class="fas fa-trash" aria-hidden="true"></i></a>
                  </div>
              </div>
            </td>
          </tr>
          </tbody>
          <div class="button-block">
            <button class="btn btn-primary mt-3 add-button" (click)="btnClick();">+ Add New</button>
          </div>
        </table>
      </div>
      <div *ngIf="makeDetailsToShow.length==0" class="empty">
        <h3>No Orders To Display</h3>
      </div>
    </div>
    </div>
  </div>
  <div *ngIf="isLoading" class="loadingScreen d-flex justify-content-center align-items-center">
    <i  class="fa fa-spin fa-spinner"></i>
  </div>