<div class="main-container ">
    <div class="container">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link px-2 px-md-3 active" id="nav-published-tab" data-toggle="tab" href="#nav-published"
                    role="tab" aria-controls="nav-published" aria-selected="true">Published</a>
            </div>
        </nav>
        <div class="tab-content mt-4" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-published" role="tabpanel" aria-labelledby="nav-published-tab">
                <div class="search-field">
                    <button class="btn btn-white shadow-none"><i class="fa fa-search" aria-hidden="true"></i></button>
                    <div class="form-field col">
                        <input type="text"  class="form-control input-box" id="exampleInputPassword1" placeholder="Search">
                    </div>
                </div>
                <div class="main-card mb-3 card">
                  <div class="card-body"><h5 class="card-title">All Orders</h5>
                    <table class="mb-0 table table-hover">
                      <thead>
                      <tr>
                        <th>#</th>
                        <th>Order Name</th>
                        <th>User</th>
                        <th>Total</th>
                        <th>Actions</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let ordersDetails of OrderDetailsToShow;let i=index;">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>{{ordersDetails.name}}</td>
                        <td>
                            {{ordersDetails.user}}
                        </td>
                        <td>{{ordersDetails.total}}</td>
                        <td>
                          <div class="img">
                              <div class="icon">
                                <a [routerLink]="['/dashboard/orders/view/:userId']" routerLinkActive="router-link-active"><i class="fa fa-eye" aria-hidden="true"></i></a>

                              </div>
                              <div class="icon">
                                  <a><i class="fa fa-ban "></i></a>
                              </div>
                              <div class="icon">
                                  <a><i class="fa fa-trash" aria-hidden="true"></i></a>
                              </div>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div *ngIf="OrderDetailsToShow.length==0" class="empty">
                    <h3>No Orders To Display</h3>
                </div>
                </div>
            </div>
        </div>
    </div>
  </div>