<div class="main-card mb-3 card">
    <div class="card-body "><h5 class="card-title">Edit Charging Machine</h5>
      <form>
        <div class="position-relative form-group"><label for="exampleEmail">Name</label><input name="email"
                                                                                                id="exampleEmail"
                                                                                                formControlName="name"
                                                                                                type="text"
                                                                                                class="form-control">
        </div>
        <div class="position-relative form-group"><label for="exampleEmail">Plug Type</label><input name="email"
          id="exampleEmail"
          formControlName="plug_type"
          type="text"
          class="form-control">
        </div>
        <div class="position-relative form-group"><label for="exampleEmail">Charging Power</label><input name="email"
          id="exampleEmail"
          formControlName="minimum_charging_power"
          type="text"
          class="form-control">
        </div>
        <button class="mt-1 btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

